target/META-INF/mule-src/retrieveconsolidatedroutesandschedule-travelontip-sapi/src/main/mule/global/retrievetravelontiproutesandschedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
      <flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            


        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow" doc:id="8ed849b0-1149-4a83-8c2b-a71e660dcafc" >
		<ee:transform doc:id="e2009004-299a-490b-a7fa-6c6b37f6569e">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialize Request Variable" doc:id="01a66d26-0653-415f-9915-063d7648d32b" name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="7d00cfb5-f7eb-422c-a133-a86069be2aaf" message="Request Received For Routes TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c3122b4a-3849-4c33-9376-08b2a6ee6a49" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="a7a6eeb3-0080-4f11-8f78-9c009c455cfa" message="Response Sent For Routes TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialize Request Variable" doc:id="f7b4d460-838b-437d-8e33-a174fb820d7d" name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3783b9b-15d9-4a90-9cd4-30c2fcb57434" message="Request Received For Schedules TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="2df7766f-7afe-4e8a-bd64-c19c06eba302" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="55807691-7f03-4de3-8583-6c5c416964fc" message="Response Sent For Schedules TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
    </flow>
</mule>
